<template>
  <md-app md-mode="reveal">
    <md-app-content>
      <div class="petition-field_wrapper">
        <md-field>
          <label for="petition-field">
            Введите id петиции или ссылку на неё с roi.ru
          </label>
          <md-input v-model="petitionField" name="petition-field"/>
        </md-field>
        <md-button v-on:click="search" class="md-raised md-primary">Найти</md-button>
      </div>
    </md-app-content>
  </md-app>
</template>
<script>
export default {
  name: 'HelloWorld',
  data() {
    return {
      petitionField: '',
    };
  },
  methods: {
    search() {
      this.$router.push(`/petition/${this.petitionField.replace(/\D+/g, '')}`);
    },
  },
};
</script>
<style lang="scss">
  .md-app {
    min-height: 100vh;
  }
  .petition-field_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
