<template>
  <md-app md-mode="reveal">
    <md-app-toolbar class="md-primary">
      <router-link to="/">
        <md-button class="md-icon-button">
          <md-icon>home</md-icon>
        </md-button>
      </router-link>
      <span class="md-title">{{ this.petition.title }}</span>
    </md-app-toolbar>
    <md-app-content>
      <md-card v-if="this.petition.code !== ''">

      </md-card>
      <md-card v-if="this.petition.code !== ''">
        <md-card-header>
          <div class="md-title">Описание</div>
        </md-card-header>
        <md-card-content>
          <p>
            <span class="md-caption">Инициатива № {{ this.petition.code }}</span>
            <span style="margin-left: 40px;" class="md-caption">
              Уровень инициативы: {{ this.petition.level.title }}
            </span>
            <br />
            <span class="md-caption">Категории: </span>
            <span
              v-for="(item, index) in this.petition.category"
              v-bind:key="index"
              class="md-caption"
            >
              {{ item.title }};
            </span>
          </p>
          <p class="md-subheading">Описание:</p>
          <p>{{ this.petition.description }}</p>
          <p class="md-subheading">Цели:</p>
          <p
            v-for="(item, index) in this.petition.decision"
            v-bind:key="index"
          >
            {{ item.text }}
          </p>
          <a :href="'http://roi.ru/'+this.$route.params.id">Сылка на roi</a>
        </md-card-content>
      </md-card>
    </md-app-content>
  </md-app>
</template>

<style scoped lang="scss">
  .md-app {
    min-height: 100vh;
  }
  .md-field {
    display: inline-block;
    width: 200px;
  }
</style>
<script>
import {Line} from 'vue-chartjs';

export default {

  name: 'Petition',
  data() {
    return {
      points: [],
      petition: {
        title: 'Загрузка...',
        code: '',
        level: {
          title: '',
        },
        category: [],
      },
    };
  },
  computed: {
  },
  created() {
    this.axios
      .get(`https://cors-anywhere.herokuapp.com/https://www.roi.ru/api/petition/${this.$route.params.id}.json`)
      .then((response) => {
        this.petition = response.data.data;
        console.log(response.data.data)
      });
    this.axios
      .get(`/api/petition/${this.$route.params.id}`)
      .then((response) => {
        this.points = response.points;
      });
  },
};
</script>
